<div id="main">
    <div class="informacao">

        <div class="infoSpec">
            <div class="spec">
                <span style="font-weight: bolder;">{{ label }}</span>
                @if (temInfo) {
                    <button type="button" (click)="infoClick.emit()" class="info" title="Explicação do termo">ℹ️</button>
                }
            </div>

            @if (!editando) {
                <span class="valor-exibicao">{{ valor }}</span>
            } 
            @else {
                <div class="campo-edicao">
                    @if (tipoInput === 'texto') {
                        <input 
                            type="text" 
                            [(ngModel)]="valorTexto" 
                            class="input-texto" />
                    } 
                    @else {
                        @if (prefixo) { <span>{{ prefixo }}</span> }
                        
                        <input 
                            type="number" 
                            [(ngModel)]="numeroEditavel" 
                            class="input-numero" 
                            min="0" />
                            
                        @if (sufixo) { <span>{{ sufixo }}</span> }
                    }
                </div>
            }
        </div>

        @if (!editando && editavel) {
            <button type="button" class="alteraValor" (click)="iniciarEdicao()">✏️ Editar valor da loja</button>
        }
        
        @else if (editando){
            <div class="botoes-edicao">
                <button type="button" class="botaoSucesso" (click)="salvar()" title="Salvar">✅ Salvar</button>
                <button type="button" class="botaoCancelar" (click)="cancelar()" title="Cancelar">❌ Cancelar</button>
            </div>
        }

    </div>
</div>