<div id="main">
    

    @if (!editando) {
        <div class="informacao">
            <div class="infoSpec">
                <div class="spec">
                    <span style="font-weight: bolder;">{{label}}</span>
                     @if (temInfo) {
                        <button type="button" (click)="infoClick.emit()" class="info" title="Explicação do termo">ℹ️</button>
                    }
                </div>
                <span>{{ valor }}</span>
            </div>
            
            <button type="button" class="alteraValor" (click)="iniciarEdicao()">✏️ Editar valor da loja</button>
        </div>
    }

    @else {
        <input type="text" [(ngModel)]="valorTemporario" class="input-edicao" />
        <button type="button" class="botaoSucesso" (click)="salvar()" title="Salvar">✅</button>
        <button type="button" class="botaoCancelar" (click)="cancelar()" title="Cancelar">❌</button>
    }

</div>