#menu{
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    margin-top: 20px;
}

a{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}

a.active {
    color: var(--verde-primario); 
    font-weight: bold;
}

