*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --verde-primario: #059669;
    --verde-secundario: #047857;
    --verde-menta: #d1fae5;
    --fundo-cor: #eaf0f5;
    --cor-borda-inputs: #7687a0;
    --cor-texto: #64748b;
}

